.hero__section {
    background-image: url(./../images/hero/Bitmap.png);
    background-size: cover;
    padding-top: 150px;
    padding-bottom: 150px;
}

.hero__head-text{
    font-family: 'Space Mono';
    max-width: 500px;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: -2.5px;
    text-align: left;
    margin-bottom: 40px;
    color: white;   
}

.hero__text-wrapper{
    margin-left: 80px;
}

.hero__text{
    color: white;
    position: relative;
    max-width: 405px;
    margin-bottom: 40px;

    &::before{
        content: "";
        display: flex;
        position: absolute;
        top: 50%;
        margin-left: -50%;
        background-image: url("./../images/hero/path22.png");
        background-size: 100%;
        background-repeat: no-repeat;
        width: 200px;
        height: 10px;
    }

    &::after{
        content: "";
        display: flex;
        position: absolute;
        top: 50%;
        margin-left: 100%;
        background-image: url("./../../images/hero/heroim2.svg");
        background-size: 100%;
        background-repeat: no-repeat;
        width: 450px;
        height: 150px;
    }
}

.hero__link{
    font-family: 'Space Mono';
    text-decoration: none;
    padding: 14px 39px;
    color: white;
    background-color: $yellow;
    border: 2px solid $yellow;
    
    &:hover{
        background-color: white;
        color: $yellow;
        border: 2px solid $yellow;
    }
}
